body{
	margin: 0px;
	padding: 0px;
}
/*header start*/
header{
	background-color: #121B2A;
	padding: 10px 0;

}
.wapper{
	
	margin: 0 auto;
	width: 80%;
	overflow: hidden;
}
.logo{
	
	width: 17S%;
	float: left;
}
.logo img{
	width: 100%;
}
.menu{
	
	width: 70%;
	float: right;
	margin-top: 30px;
}
.menu ul{
	float: right;
	
}
.menu ul li{
	list-style: none;
	float: left;
	margin-right: 0;
}
.menu ul li a{
	font-family:sans-serif; 
	font-weight: 400;
	font-size: 17px;
	color: white ;
	padding:0 25px;
	text-decoration: none;
	text-transform: capitalize;
	display: inline-block;
	transition: .3s;
	
}

.menu ul li:last-child a{
	padding-right: 0;
}
.menu ul li a:hover{
	color: #0476BB;
}
/*header end*/
/**banner start*/
.banner{
	background-image: url(../images/banner.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.b_content{
	width: 50%;
	margin-top: 200px;
	margin-bottom: 80px;
}
.b_content h1{
	font-family:sans-serif; ;
	font-weight:400 ;
	font-size:36px ;
	color: white;
	text-transform: capitalize;
	margin: 0;
}
.b_content h2{
	font-family:sans-serif; ;
	font-weight:700 ;
	font-size:43px ;
	color:#0476BB ;
	text-transform: capitalize;
	margin: 0px;
}
.b_content p{
	font-family:sans-serif; ;
	color:white ;
	margin: 0px;
	line-height: 25px;

}
.b_content button{
	width: 200px;
	height: 50px;
	margin-top: 20px;
	font-family:sans-serif; ;
	font-weight:700 ;
	font-size:20px ;
	color:#5A5A5A ;
	text-transform: capitalize;
	background-color: white;
	border:none;
	border-radius: 3px;
	cursor: pointer;
	transition: .3s;


}

.b_content button:hover{
	color: #0476BB ;
}

.b_content button:focus{
	outline: none;
}
/**banner end*/